*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
:root{
    --main-color: #801317;
    --second-color: #edc233;
}
header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
header #dateTime,
header .socialLinks a{
    font-size: 0.75em;
    color: #fff;
}
header .socialLinks a{
    margin-right: 10px;
    text-decoration: none ;
}
nav{
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: fixed;
    top: 38px;
    left: 0;
    border-radius: 5px;
    width: 100%;
    z-index: 999;
}
nav .logo{
    display: flex;
    align-items: center;
    color: var(--main-color);
}
nav .logo img{
    width: 50px;
    margin-right: 10px;
}
nav ul{
    list-style: none;
    display: flex;
    transition: all 0.3s ease;
}

nav ul.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:60px;
    right: 0;
    width: 50%;
    border-color: var(--second-color);
    z-index: 999;
}

nav .menu-toggle{
    display: none;
}

nav ul li a{
    color: var(--main-color);
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    background-color: var(--main-color);
    color: var(--second-color);
}

nav ul li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--second-color);
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

nav ul li a:hover::after{
    width: 100%;
    left: 0;
    right: auto;
}

.dept-position{
    right: 5px;
}

.acad-position{
    right: 350px;
}

nav ul li .dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--second-color);
    width: 300px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav ul li .dropdown-content a{
    color: var(--main-color);
    padding: 20px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}

nav ul li .dropdown-content a:hover{
    background-color: var(--main-color);
    color: var(--second-color);
}

nav ul li:hover .dropdown-content{
    display: block;
}

nav ul li .dropdown-content .dropdown {
    position: relative;
    width: 300px;
}

nav ul li .dropdown-content .dropdown .dropdown-content {
    display: none;
    top: 0;
    right: 100%;
    margin-right: 1px;
}

nav ul li .dropdown-content .dropdown:hover .dropdown-content {
    display: block;
}

section{
    min-height: 100vh;
}

#homeSection{
    background-color: var(--main-color);
    padding-top: 110px;
    position: relative;
}

#homeSection video{
    width: 100%;
    top: 0;
    height: 100vh;
    object-fit: cover;
    opacity: 0.6;
}

#homeSection .homeContent{
    display: flex;
    align-items: center;
    padding: 30px;
    position: absolute;
    top: 30%;
    /* right: 50%; */
    width: 100%;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: var(--computed-width);
    }
}

/* @keyframes blink {
    50% {
        border-color: transparent;
    }
} */

.typing {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    /* border-right: 3px solid var(--second-color); */
    width: 0;
    font-size: inherit;  /* Ensures it keeps the parent's font size */
    font-weight: inherit;
    animation: typing 1s steps(var(--char-count), end) forwards;
}

/* Delay for each line */
.h1_gold .typing {
    --char-count: 28; /* Number of characters in "Fellowship Baptist College" */
    --computed-width: calc(var(--char-count) * 0.85ch);
}

.p_gold .typing {
    --char-count: 14; /* "Shaping Lives..." */
    --computed-width: calc(var(--char-count) * 0.95ch);
    animation-delay: 1s;
}

.p_address .typing {
    --char-count: 45; /* "Rizal St., Kabankalan City, Negros Occidental, 6111" */
    --computed-width: calc(var(--char-count) * 1ch);
    animation-delay: 2.2s;
}


.h1_gold{
    font-size: 4em;
    color: var(--second-color);
    margin-right: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.p_gold{
    font-size: 3em;
    color: var(--second-color);
    margin-bottom: 20px;
    font-family: 'Oswald', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.p_address{
    font-size: 1.5em;
    color: whitesmoke;
    margin-bottom: 20px;
    font-family: 'Oswald', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#homeSection .homeText{
    margin-left: 60px;
}

#eventsSection{
    padding-top: 50px;
    padding-inline: 40px;
}

#eventsSection h1{
    font-size: 1.5em;
    color: var(--main-color);
    margin-bottom: 20px;
}

.event-container .card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.event-container .event-card{
    flex: 1 1 calc(20% - 40px);
    max-width: 20%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-container .upcoming-event-container{
    text-align: right;
    padding-top: 20px;
}

.event-container .recent-event-container{
    padding-bottom: 20px;
}

.event-container .flip-box:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.event-container .card-container:hover .flip-box:not(:hover) {
    filter: grayscale(100%);
    transform: scale(0.8);
}

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    transition: ease 0.5s;
    border-radius: 10px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .flip-box-front {
    background-color: #f9f9f9;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flip-box-front img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .flip-box-back {
    background-color: var(--main-color);
    color: white;
    transform: rotateX(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 20px;
    text-align: left;
  }

  .flip-box-back h2{
    margin-bottom: 20px;
  }

  .flip-box-back a{
    text-decoration: underline;
    color: #f9f9f9;
    font-weight: bold;
    margin-top: 5px;
  }

#departmentsSection{
    padding-top: 50px;
    padding-inline: 40px;
    background:url(../assets/background/wave-bg.png) no-repeat center center/cover;
    scroll-margin-top: 100px; /* Adjust this value as needed */
}

#departmentsSection h1{
    font-size: 2em;
    color: var(--main-color);
    margin-bottom: 20px;
}

.dept-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.dept-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content is spread evenly */
    align-items: center;
}

.dept-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dept-card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.dept-card:hover img {transform: scale(1.1);}

.dept-card h2 {
    font-size: 1.2em;
    color: #801317;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.dept-card:hover h2 {color: #edc233;}

.dept-card button {
    background: #801317;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s ease;
    margin-top: auto; /* Pushes the button to the bottom */
}

.dept-card button:hover {
    background: #edc233;
    color: #801317;
    transform: scale(1.1);
}


/* #departmentsSection .dept-logos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 30px;
}
#departmentsSection .dept-logos img{
    width: 200px;
    height: auto;
    aspect-ratio: 1 / 1;
    mix-blend-mode: color-burn;
}

#departmentsSection .dept-logos img:hover{
    transform: scale(1.5);
    transition: transform 0.3s ease;
    cursor: pointer;
} */

#aboutSection {
    padding-top: 130px;
    background:url(../assets/logo/fbc_transparent.png) no-repeat center center/550px;
}

#aboutSection hr {
    width: 100px;
    border: 2px solid var(--main-color);
    margin: 20px 0 0 30px;
}

#aboutSection .aboutContent{
    display: flex;
    padding-inline: 50px;
}

.mission-card, .vision-card {
    background-color: var(--main-color);
    color: #fff;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0 100%);
    height: 200px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 150px;
}

.mission-card h2, .vision-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.mission-card p, .vision-card p {
    font-size: 1em;
    line-height: 1.5;
}

/* .missionVision {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 40%;
    min-width: 300px;
    text-align: center;
    background-color: rgba(128, 19, 23, 0.25);
} */

/* .card h2, */
.history h2{
    color: var(--main-color);
    margin-bottom: 10px;
    font-size: 1.8em;
}

.history{padding: 30px;}

.historyContent {
    display: block;
    gap: 20px;
}

.historyContent video {
    max-width: 500px;
    height: auto;
    float: left;
    margin-right: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.322);
}

.historyContent p {
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
}

.top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: none; /* Initially hidden */
    z-index: 1000;
}

.top-button i {font-size: 24px;}

.top-button:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}

footer {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-section {
    flex: 1;
    margin: 10px;
    text-align: left;
    color: #fff;
}

.footer-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-contacts{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 10px;
}

.footer-contacts a{
    color: #fff;
    text-decoration: none;
    margin-block: 5px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.9em;
}

.footer-content img{
    width: 200px;
    height: auto;
    margin-right: 40px;
}

@media screen and (min-width: 469px) and (max-width: 768px) {
    #homeSection .homeContent {
        flex-direction: column;
        text-align: left;
        padding: 20px;
    }

    #homeSection .homeContent img {
        width: 70%;
        margin-left: 0;
    }

    .h1_gold {font-size: 2.5em;}

    .p_gold {font-size: 1.8em;}

    .p_address {font-size: 1em;}

    #departmentsSection{padding-top: 60px;}

    .dept-container,
    .event-container .card-container {
        flex-direction: column;
        align-items: center;
    }

    .event-container .event-card {
        max-width: 90%;
        flex: 1 1 100%;
    }

    .dept-card {width: 100%;}

    .historyContent {
        flex-direction: column;
        text-align: center;
    }

    .historyContent video {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .top-button {
        bottom: 10px;
        right: 10px;
    }

    .mission-card, .vision-card {padding-inline: 80px;}

    .mission-card h2, .vision-card h2 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    
    .mission-card p, .vision-card p {
        font-size: 0.85em;
        line-height: 1.5;
    }
}
@media screen and (max-width:768px) {
    nav .menu-toggle {
        display: block; /* Ensure menu toggle is visible */
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 20px;
        z-index: 1000;
    }
    
    nav .menu-toggle i {
        font-size: 2em;
        color: var(--main-color);
    }
    
    nav ul {
        display: none; /* Hide menu by default */
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        width: 60%;
        background-color: var(--second-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px 0;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }
    
    nav ul.active {
        display: flex; /* Show menu when active */
    }
    
    nav ul li {
        width: 100%;
        text-align: center;
    }
    
    nav ul li a {
        display: block;
        padding: 15px;
        color: var(--main-color);
        font-weight: bold;
        text-decoration: none;
    }
    
    nav ul li a:hover {
        background-color: var(--main-color);
        color: var(--second-color);
    }
    nav ul li .dropdown-content{width: inherit;}
    
    nav ul li .dropdown-content .dropdown{width: inherit;}

    nav ul li .dropdown-content .dropdown a{
        font-size: 0.9em;
        text-align: left;
    }

    .acad-position{
        display: block;
        right: 100%;
        top: 100px;
    }
    
}

@media screen and (max-width:468px) {
    header{display: none;}

    nav{top: 0;}

    nav .menu-toggle {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 18px;
        right: 15px;
        z-index: 1000;
    }

    nav .menu-toggle i{font-size: 1.8em;}

    nav ul{
        display: none;
        flex-direction: column;
        max-width: 50%;
        background-color: var(--second-color);
        position: absolute;
        top: 50px;
    }

    nav ul.active {display: flex;}

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        display: block;
        padding: 15px;
    }

    .acad-position{
        display: block;
        right: 100%;
        top: 100px;
    }

    nav ul li .dropdown-content{width: inherit;}
    
    nav ul li .dropdown-content .dropdown{width: inherit;}

    nav ul li .dropdown-content .dropdown a{
        font-size: 0.75em;
        text-align: left;
    }
    #homeSection{padding-top: 60px;}
    #homeSection .homeContent{padding: 0;}

    #homeSection .homeText{
        margin-left: 30px;
        width: 85%;
    }

    .h1_gold{
        font-size: 1.5em;
        margin-right: 20px;
    }
    .p_gold{
        font-size: 1em;
        margin-top: 5px;
        margin-bottom: 0;
    }
    
    .p_address{
        font-size: 0.5em;
        margin-top: 5px;
    }

    #aboutSection{
        padding-top: 100px;
    }

    #aboutSection .aboutContent{
        flex-direction: column;
        align-items: center;
        padding-inline: 15px;
        gap: 30px;
    }

    .mission-card, .vision-card {
        height: 60px;
        width: 80%;
        padding-inline: 55px;
    }

    .mission-card h2, .vision-card h2 {
        font-size: 0.8em;
        margin-bottom: 5px;
    }
    
    .mission-card p, .vision-card p {
        font-size: 0.5em;
        line-height: 1.1;
    }

    .historyContent video {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .historyContent p{
        font-size: 0.8em;
    }

    footer{
        margin-top: 50px;
    }
}